<!--
<h1>wellcome to {{title}}</h1>
<h2>I am just trying to post this</h2>
<p>Gech mnshe mitazigegn???</p>
<br>
-->


<!--<app-header></app-header>-->
<!--<app-users-list></app-users-list>-->
<router-outlet></router-outlet>
<!--<app-footer></app-footer>-->



<!--<h2>{{name}}</h2>>
<!--
<nav>
  <a routerLink=".//dashboard">Dashboard</a>
  <a routerLink=".//user">USERS</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
-->


<!--
<<h2>{{ user.name }} Details</h2>
<div><span>id: </span>{{user1}}</div>
<div><span>name: </span>{{user2}}</div>
-->
